commands:
  01_create_swap:
    command: |
      if [ ! -f /swapfile ]; then
        fallocate -l 4G /swapfile || dd if=/dev/zero of=/swapfile bs=1M count=4096
        chmod 600 /swapfile
        mkswap /swapfile
        swapon /swapfile
        echo '/swapfile none swap sw 0 0' >> /etc/fstab
      fi
  02_set_swappiness:
    command: |
      sysctl vm.swappiness=10
      echo 'vm.swappiness=10' >> /etc/sysctl.conf